#generic
*.secret

# Exclude version control files and directories
.git
.gitignore

# Exclude Go binaries and object files
*.exe
*.o
*.a

# Exclude test and documentation files
*_test.go
*.md

# Exclude build-related files and directories
bin/