#generics
*.exe
*.secret


#####
## GOLANG
#####
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go build directory
/build/

# Local binary file for package main
*.local

# Output files
*.log
*.tar